/* base */

@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';
@import './base/base.css';

/* 3rd-party */


/* components */

@import './components/button.css';
@import './components/footer.css';
@import './components/header.css';

/* CUSTOM PAGE STYLE BELOW THIS COMMENT LINE */

.hero-image {
    max-width: 100%;
    max-height: 20vh;
    box-sizing: border-box;
    position: relative;
    flex-basis: 40%;
    z-index: -1;
}

.hero-text {
    margin-top: 0px;
    margin-left: 10%;
    position: absolute;
    color: #141F4E;
    font-weight: 500;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.hero-text1 {
    margin-top: 0px;
    font-size: 20px;
    color: #8491A3;
}

.col-2 {
    margin-bottom: 30px;
}

.col-2 img {
    width: 10%;
    margin-left: -50%;
    margin-top: -80%;
}

.underpicture {
    position: relative;
    float: right;
    width: 40%;
    margin-right: 10%;
    z-index: -1;
}

.col-1 h1 {
    max-width: 580px;
}

.price-header{
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    width: 560px;
    height: 120px;
    color: #fff;
  }

  .tittle-price {
    font-size: 72px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 25px;
    text-align: center;
    color: #6610f2;
  }

  .price-text{
    display: grid;
    padding: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    line-height: 180%;
    font-size: 20px;
  }

  .plan-name{
      color: #141F4E;
      font-weight: 700;
      font-size: 24px;
  }
  .pricing-item{
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fff;
  }

  .span{
    font-size: 20px;
    margin-top: 50px;
  }
  .container.price-background {
    background: url('../img/price-bg-fore.png') no-repeat top center / cover;
  }

/* Header Area Start /*
/* Header Area End /*

/* Hero.. Area Start /*
/* Hero.. Area end /*

/* Icons Area Start /*
/* Icons Area End /*

/* Cards Area Start /*
/* Cards Area End /*

/* Video Area Start /*
/* Video Area End /*

/* Why Choose area start /*
/* Why Choose... area end /*

/* Pricing area start /*
/* Pricing area end /*

/* Frequently area start /*
/* Frequently area end /*
    
/* Need Contact.. area start /*
/* Need Contact..  area end /*
 
/* Be Notified area start /*
/* Be Notified area end/*